.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 120px;
    width: 200px;   

}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 500;

}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height:30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
}

.hero-connect {
    padding: 25px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
    transition: 0.10s;
}
.hero-connect:hover{
    transform: scale(1.05);
    border: 2px solid white;
}

.hero-resume {
    padding: 25px 70px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.10s;
}
.hero-resume:hover{
    transform: scale(1.05);
    background: linear-gradient(267deg, rgb(22, 22, 22) 0.36%,rgb(226, 175, 175) 102.06%);
}

@media(max-width:768px){
    .hero img{
        margin-top: 60px;
        width: 200px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 90%;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 20px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 30px;
        border-radius: 40px;
    }

}