.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}
.mywork-continer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-continer img{
    box-sizing: border-box;
    width: 350px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-continer img:hover{
    transform: scale(1.12);
    border: 4px solid #ff00ff;
    border-radius: 12px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 50px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    transition: 0.6s;
    cursor: pointer;
    
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
    background: linear-gradient(267deg, rgb(22, 22, 22) 0.36%,rgb(226, 175, 175) 102.06%);
}
@media(max-width :700px){
    .mywork{
        gap: 50px;
        margin: 50px 50px;
        align-items: start;

    }
    .mywork-title h1{
        padding: 0;
        font-size: 40px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 80px;
        margin-right: -20px
    }
    .mywork-continer{
        grid-template-columns: 1fr;
        gap: 30px
    }
    .mywork-continer img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        
    }


}